.about {
    display: flex;
    flex-direction: column;
}

.about__nav {
    padding-top: 140px;
    max-width: 1704px;
}

.about__wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.about__wrap-title {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(2.188rem, 2.115rem + 0.36vw, 2.5rem);
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--bb);
}

.about__wrap-title_line {
    width: 144px;
    height: 2;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__desc {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(1.25rem, 1.192rem + 0.29vw, 1.5rem);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--bb);
}

.desc__descreption {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(0.813rem, 0.769rem + 0.22vw, 1rem);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--rr);
    word-break: break-all;
    margin-bottom: 60px;
}

.about__img{
    max-width: 100%;
    margin-bottom: 140px;
}
