*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    font-family: var(--ff);
    font-weight: 400;
}

:root{
    --white: #F9F8F4;
    --ff: "share tech mono";
    --bb: #242424;
    --gg:  grey;
    --ee: #EEEEEE;
    --rr: #6C6C6C;
}

body{
    min-width: 320px;
}
.container{
    max-width: 1704px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

