.gallery {
    display: flex;
    flex-direction: column;
}

.gallery__nav {
    margin-top: 140px;
    max-width: 1704px;
}

.gallery__nav2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.gallery__wrap-title2 {
    font-family: var(--ff);
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--bb);
}

.gallery__wrap-title_line2 {
    width: 144px;
    height: 2px;
}

.text2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text__gallery2 {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(1.25rem, 1.192rem + 0.29vw, 1.5rem);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--bb);
}

.desc__gallery2 {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(0.813rem, 0.769rem + 0.22vw, 1rem);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--rr);
    word-break: break-all;
    margin-bottom: 60px;
}

/* начало 6 картинок */

.gallery__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 колонки одинаковой ширины */
    grid-template-rows: repeat(2, 1fr);
    /* 2 ряда, высота под контент */
    margin-top: 30px;
    gap: 24px;
}

/* карточки */

.gallery-card1 {
    background: url(../img/gallery1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.gallery-card2 {
    background: url(../img/gallery2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.gallery-card3 {
    background: url(../img/gallery3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.gallery-card4 {
    background: url(../img/gallery4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.gallery-card5 {
    background: url(../img/gallery5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.gallery-card6 {
    background: url(../img/gallery6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.gallery-card__top {
    display: flex;
    justify-content: space-between;
    /* кнопка слева, иконки справа */
    align-items: center;
    /* выравнивание по вертикали */
    padding: 24px;
    /* отступы сверху/сбоку */
}

.gallery-card__discount {
    padding: 16px 40px;
    max-width: 120px;
    height: 60px;
    background: var(--bb);
    font-family: var(--ff);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
}

.gallery-card__icons {
    display: flex;
    gap: 8px;
}

.gallery-card__icon-wrapper {
    padding: 18px;
    /* пространство вокруг иконки */
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gallery-card__content {
    margin-top: auto;
    /* ключевой момент */
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.gallery-card__title {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(1.25rem, 1.192rem + 0.29vw, 1.5rem);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
}

.gallery-card__size {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(0.75rem, 0.692rem + 0.29vw, 1rem);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 10px
}

.gallery-card__color {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(0.75rem, 0.692rem + 0.29vw, 1rem);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 40px
}

.gallery-card__price {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(1.25rem, 1.192rem + 0.29vw, 1.5rem);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

.gallery-card__buy {
    max-width: 200px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 24px;
    padding: 26px 81px;
    background: var(--white);
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(1.25rem, 1.192rem + 0.29vw, 1.5rem);
    line-height: 100%;
    color: var(--bb);
}

@media screen and (max-width:1200px) {
    .gallery__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 3 колонки одинаковой ширины */
        grid-template-rows: repeat(2, 1fr);
        /* 2 ряда, высота под контент */
        margin-top: 30px;
        gap: 24px;
    }
}

@media screen and (max-width:1200px) {
    .gallery__nav {
        margin-top: 110px;
        max-width: 1704px;
    }
}

@media screen and (max-width:700px) {
    .gallery__cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* 3 колонки одинаковой ширины */
        grid-template-rows: repeat(2, 1fr);
        /* 2 ряда, высота под контент */
        margin-top: 30px;
        gap: 24px;
    }
}

@media screen and (max-width:510px) {
    .gallery__nav {
        margin-top: 80px;
        max-width: 1704px;
    }

    .gallery-card__top {
        padding: 18px;
    }

    .gallery-card__discount {
        padding: 14px 38px;
        max-width: 120px;
    }
    

    .gallery-card__icons {
        display: flex;
        gap: 8px;
    }

    .gallery-card__icon-wrapper {
        padding: 12px;
    }

    .gallery-card__content {
        margin-top: auto;
        /* ключевой момент */
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .gallery-card__color {
        margin-bottom: 25px
    }

    .gallery-card__buy {
        max-width: 200px;
        height: 65px;
        margin-top: 15px;
        margin-bottom: 24px;
        padding: 20px 60px;
        background: var(--white);
        font-family: var(--ff);
        font-weight: 400;
        font-size: clamp(1.25rem, 1.192rem + 0.29vw, 1.5rem);
        line-height: 100%;
        color: var(--bb);
    }


}

@media screen and (max-width:430px) {
    .gallery__wrap-title_line2 {
        width: 100px;
        height: 2px;
    }
}

@media screen and (max-width:380px) {
    .gallery__wrap-title_line2 {
        width: 80px;
        height: 2px;
    }
}

@media screen and (max-width:340px) {
    .gallery__wrap-title_line2 {
        width: 60px;
        height: 2px;
    }
}