.shop {
    display: flex;
    flex-direction: column;
}

.shop__nav {
    margin-top: 140px;
    max-width: 1704px;

}

.shop__wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.shop__wrap-title {
    font-family: var(--ff);
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--bb);
}

.shop__wrap-title_line {
    width: 144px;
    height: 2;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text__shop {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(1.25rem, 1.192rem + 0.29vw, 1.5rem);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--bb);
}

.desc__shop {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(0.813rem, 0.769rem + 0.22vw, 1rem);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--rr);
    word-break: break-all;
    margin-bottom: 60px;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    gap: 24px;
}

/* ОБЩАЯ КАРТОЧКА */

.product__card {
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

/* РАСПОЛОЖЕНИЕ + КАРТИНКИ */

.product__card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    background-image: url(../img/img1.png);
}

.product__card:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../img/img2.png);
}

.product__card:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / 3;
    background-image: url(../img/img3.png);
}

/* КНОПКА СКИДКИ */

.product-card__discount {
    margin-top: 24px;
    margin-left: 24px;
    padding: 16px 40px;
    max-width: 120px;
    height: 60px;
    background: var(--bb);

    font-family: var(--ff);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

/* КОНТЕНТ */

.product-card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    color: var(--white);
}

/* ТВОЯ ТИПОГРАФИКА */

.product-card__title,
.product-card__size,
.product-card__color,
.product-card__price {
    font-family: var(--ff);
    font-weight: 400;
    font-size: clamp(0.75rem, 0.692rem + 0.29vw, 1rem);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
}

.product-card__title {
    margin-bottom: 20px;
}

.product-card__size {
    margin-bottom: 10px;
}

.product-card__color {
    margin-bottom: 40px;
}


@media (max-width: 900px) {

    .product {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .product__card:nth-child(1),
    .product__card:nth-child(2) {
        grid-column: auto;
        grid-row: auto;
        height: 400px;
    }

    .product__card:nth-child(3) {
        grid-column: auto;
        grid-row: auto;
        height: 824px;
    }

}

@media screen and (max-width:760px) {
    .shop__wrap {
        margin-top: 40px;
    }
}

@media screen and (max-width:600px) {
    .product {
        gap: 15px;
    }
}

@media screen and (max-width:510px) {
    .product-card__discount {
        padding: 14px 38px;
        max-width: 120px;
        margin-top: 18px;
        margin-left: 18px;
    }

    .product-card__content {
        padding: 18px;
    }

    .product-card__color {
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width:430px) {
    .shop__wrap-title_line {
        width: 100px;
        height: 2;
    }
}

/* 


@media screen and (max-width:650px) {
    .shop__wrap-title_line {
        width: 130px;
        height: 2px;
    }
}

@media screen and (max-width:580px) {
    .shop__wrap {
        display: flex;
        align-items: center;
        gap: 17px;
        margin-bottom: 35px;
    }

    .shop__wrap-title_line {
        width: 120px;
        height: 2px;
    }
}

@media screen and (max-width:540px) {
    .shop__wrap {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 29px;
    }

}

@media screen and (max-width:505px) {
    .shop__wrap-title_line {
        width: 110px;
        height: 2px;
    }

    .shop__wrap {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:450px) {
    .shop__wrap-title_line {
        width: 90px;
        height: 2px;
    }

    .shop__wrap {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:400px) {
    .shop__wrap-title_line {
        width: 0;
        height: 0;
    }

    .shop__wrap {
        display: flex;
        align-items: center;
        gap: 13px;
        margin-bottom: 15px;
    }

    .shop__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
} 